:host /deep/ .mat-form-field-infix{
    width: 140px !important;
  }
  
  .example-form {
      max-width: 300px;
      padding: 0% 0%;
      width: 100%;
    }
    
    .example-full-width {
      width: 100%;
    }
  
    .basic-row{
      width:40%;
    }
  
    .gender-options {
      padding-right: 1rem;
    }
  
    .fieldHg {
      padding-right: 1rem;
    }
  
    .existing-patient-card{
      width: 80%;
  
    }
  