<div *ngFor="let patient of patientData" >
<h4>{{patient?.patientName}} - {{patient?.patientId}}</h4>
<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="text-center">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Heart Rate</small>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">{{patient?.pulseRate}}</h3>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="text-center">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Temperature</small>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">{{patient?.temperature}}</h3>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>